<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
      <img class="profile" src="https://firebasestorage.googleapis.com/v0/b/sunnysharma.appspot.com/o/sunny-sharma.jpg?alt=media&token=8af7199d-71fd-4128-a52d-14e8d2899f41" />
      {{ content }}
    </div>
  </div>
</body>
</html>